@import "variables";

a {
  color: black;
  text-decoration: none;
}
a:hover,
.current {
  color: #808080;
}
h1,
h2 {
  font-family: $SansSerif;
}

h1 {
  font-size: 35px;
  font-weight: bolder;
  letter-spacing: 0.05em;
  margin: 0;
  text-transform: uppercase;
}
h2 {
  font-size: 2em;
  font-weight: bolder;
  margin: 0;
  text-transform: uppercase;
}
header {
  border-bottom: 1px solid #e8e8e8;
  padding: 18px 18px 8px 18px;
}
pre {
  white-space: pre-wrap;
}

blockquote {
  background-color: #f6f6f6;
  border-left: 2px solid #d8d8d8;
  font-family: $SansSerif;
  padding: 16px;
  margin-left: 0;
  width: 100%;
}

.container {
  padding: 18px;
  max-width: 800px;

  p {
    font-size: 18px;
  }
}

.post-link:first-child {
  font-size: 26px;
  div {
    margin-bottom: -10px;
  }
}

.post-link {
  a {
    display: block;
  }
  font-size: 18px;
  margin-bottom: 14px;
  span {
    font-size: 12px;
    text-transform: uppercase;
  }
}

.blog-post-container,
article {
  a {
    text-decoration: underline;
  }

  img {
    max-width: 800px;
  }
  .footnote-backref,
  .reversefootnote {
    display: none;
  }
  .footnotes * {
    font-size: 14px;
  }
}
