a {
  text-decoration: underline dotted grey;
  text-decoration-thickness: 1px;
}
a:hover {
  text-decoration: underline grey;
  text-decoration-thickness: 1px;
}
a,
a:visited {
  color: inherit;
}
body {
  font-size: 18px;
  max-width: 600px;
  padding: 10px;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: sans-serif;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

span.date {
  font-size: 12px;
}
